<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfImageViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WpfImageViewer.Properties.Settings>
            <setting name="ApplicationTitle" serializeAs="String">
                <value>TumblThree Image Viewer</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CloseOnLostFocus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImageDurationSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IncludedFileExtensions" serializeAs="String">
                <value>.bmp,.gif,.gifv,.jpeg,.jpg,.png,.tif,.tiff,.mp4</value>
            </setting>
            <setting name="MsgColor" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="MsgFadeoutSeconds" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="RunAnimatedGifs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHelpOnLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ZoomMin" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="ZoomStep" serializeAs="String">
                <value>1.25</value>
            </setting>
        </WpfImageViewer.Properties.Settings>
    </userSettings>
</configuration>
